* {
  box-sizing: border-box;
  font-family: "Schoolbell", cursive;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 600px;
  gap: 20px;
}

.App h1 {
  align-self: start;
  font-size: 1.75rem;
  margin-left: 1.5rem;
  position: relative;
}

.App .ghostTracker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto 0.15rem;
  padding: 3rem 2.25rem;
  width: 100%;
  min-height: 720px;
  background: center center / 100% 100% no-repeat url("journal.png");
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}

.App .ghostTracker {
  padding: 0.5rem 2rem;
}
